autopep8==1.5
Click==7.0
dnspython==1.16.0
Flask==1.1.1
formic==0.9b8
itsdangerous==1.1.0
Jinja2==2.11.3
livereload==2.6.1
MarkupSafe==1.1.1
pycodestyle==2.5.0
pymongo==3.10.1
six==1.14.0
tornado==6.0.3
Werkzeug==0.16.1
